<div class="container-fluid ">
  <div>
    <div class="row col-xs-12">
      <div id= "links" class="actions">
        <%= button_to 'New Record', new_record_path, method: :get, :class => 'btn  btn-primary pull-right btn-padded'  %>
      </div>
    </div>
  </div>
   <div class="row col-xs-12 col-md-8 ">
   </div>
   <div class="row col-xs-12 col-md-8 ">
     <h3> Recent Records </h3>
      <%= render partial:'record_view', locals: {records: @recent_records} %>
     <h3> Records older than two days </h3>
      <%= render partial:'record_view', locals: {records: @older_records} %>
   </div>
</div>

