// import the CSS framework

@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive !optional;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }
.navbar-custom {
    background-color: #ce92d3;
    border-color: #ce92d3;
    color: black;
}

.navbar-inverse .navbar-nav > li > a {
  color: black;
}

//***nav-bar***//

.nav-tabs > li > a:hover{
  background-color: #eedbf0 !important;
    border: medium none;
    border-radius: 0;
    color:#fff;
}


// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #FEFEFE;
  padding-bottom: 80px;
  width: 100%;
  height: 100%;
  margin-top: 51px; // accommodate the navbar
  padding-left: 0;
  padding-right: 0;
  }
 html, body {
  height: 100%;
  background-color: #FEFEFE;

  }
section {
  @extend .row;
  margin-top: 20px;
  }

// Styles for form views
// using Bootstrap
// generated by the rails_layout gem
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @extend .well;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
}

#td-align{
  text-align: center;
  content-align:center;
}

#th-align{
  text-align: center;

}

.glyphicon {
    color: #1E8F90;
}

#links {
  margin-top: 10px;
}

div.btn-group form{
  display: inline;
  text-align: center;
  padding: none;
}

#center{
  text-align: center;
}

#scheduled_btn, #initials {
  padding:  1px 5px;
}

#btn-correction {
  opacity: 1.0;
}

#blue-text {
  color: #117b70;
  font-size: 16px;

}

#category-headings {
  font-size: 1.5;
  font-family: 'Enriqueta', serif;
}

.norm {
  font-size: 16px;
  font-family: verdana, arial, helvetica, sans-serif;

}

.normheading {
  font-size: 20px;
  font-family: verdana, arial, helvetica, sans-serif;

}

.btn-grey-padded {
  margin-left: 2px;
  background-color: #117b70
}

.btn-padded {
  margin: 2px 2px 2px 2px;
  background-color: #7D4979;
  border-color: #7D4979;
  color: #FFFFFF;

}
.btn-primary {
    color: #fff;
    background-color: #00747A;
    border-color: #00747A; /*set the color you want here*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #009199;
    border-color: #009199; /*set the color you want here*/
}

//turqoise: #00747A
//pink: #d9bfd7
//dark purple: #37173A
// light blue: #d9f0f2


#larger-text {
  font-size: 24px;
}


#nav-for-buttons{
  font-size: 14px;

}

#light-blue{
  background-color: #dbe7f0;
}

.nopadding{
 padding-left:0;
 padding-right: 0;

}

.checkbox {
  background-color: #d9d9d9;

}

.bench{
  margin:0;
  display: inline-block;
  padding-left: 5px;
}

.no_meeting_flag {
  display: inline-block;
}

.well {
  background-color: #be6dc5;
}

.form-edits{
  font-size: 13px;
  line-height:18px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 5px;
}

.form-edits-s{
  font-size: 13px;
  line-height:18px;
  margin-bottom: 0;
}

#clients_sittings_sitting_id{
  font-size: 18px;
}

.input-disabled{
  text-decoration: line-through;
}

.select_client_group_form{
  font-size: 16px;
  padding-bottom: 10px;
}

.selected_client_jquery{
  background:  #b3e6b3;
}

.unselected_client_jquery{
  background:   #ffb3b3;
}

.rounded {
  border-radius: 25px;
}

#label {
  font_size: 16px;
  font-weight: bold;

}
